* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body{
    background: url(./assets/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh; 
    position: relative;
    height: 100%; 

}
h1,
h2,
h3,
h4,
a,
p {
    font-family: 'Raleway', sans-serif;
}

footer {
    background: #131527;
    position: absolute;
   
}

.footer-logo {
    width: 200px;
    clear: both;
}
/* .Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */
.Site-content {
    /* flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%; */
    /* min-height: 1000px; */
}
/* .Site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
} */