html {
    background: url(./assets/images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

h1,
h2,
h3,
h4,
a,
p {
    font-family: 'Raleway', sans-serif;
}

footer {
    background: #131527;
    position: relative;
    Width: 100%;
    bottom: 0;
}

.footer-logo {
    width: 200px;
    clear: both;
}