
.color-white {
    color: white;
  }

.card {
    background: #303663;
    color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    min-height: 600px;
}
.space {
    height:40px
}