html {
    background: #363F6D no-repeat;
    background: -moz-linear-gradient(-45deg, #363F6D 0%, #1C6EA4 62%, #6998A5 100%);
    background: -webkit-linear-gradient(-45deg, #363F6D 0%, #1C6EA4 62%, #6998A5 100%);
    background: -linear-gradient(135deg, #363F6D 0%, #1C6EA4 62%, #6998A5 100%);
    background: -o-background-size(cover);
    background-size: cover;
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, a, p {
    font-family: 'Raleway', sans-serif;
}