/* container background*/
.page-container {
    width: 90%;
}

/* pvw title text */
.pvw {
    font-size: 450%;
    color: white;
}

/* profile text */
.prof {
    color: white;
}

/* card containers */
.cardRows {
    /* this is making the cards side by side */
    display:flex;
     flex-direction:row;
     min-height: 500px;
}
/* cards */
.dashboardCards {
    background: #303663;
    color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-width: 300px;
}
/* card title text */
.cardTitle {
    color: white;
}
.profile-pic{
    width: 200px;
}
