.inbox-card {
    background: #303663;
    margin-top: 200px;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
   

}

.inbox-title {
    
    border: 1px black solid;
  border-radius: 4px;
}
.sender{
    width: 15%;
    border: 1px black solid;
  border-radius: 4px;
}
.message{
    width: 80%;
    border: 1px black solid;
  border-radius: 4px;
}
.delete{
   
    border: 1px black solid;
  border-radius: 4px;
}
.messageDump{
    background-color: white;
  border-radius: 4px;
    width: 100%;
    border: 1px black solid;
  border-radius: 4px;
}